th {
  text-align: left;
  background-color: #eeeeff;
  padding: 10px;
  border-width: 1px;
  border-color: #0000001f;
}
td {
  width: 300px;
  padding: 10px;
  border-width: 1px;
  border-color: #0000001f;
}
