<div class="h-screen bg-gray-100">
  <header-nav></header-nav>
  <div class="mx-4 flex justify-center flexCol">
    <div class="flex my-4">
      <!-- my location -->
      <p class="link">Dashboard</p>
      <img
        class="px hover:cursor-pointer"
        src="assets/icons/Right_arrow.svg"
        alt="Apps"
      />
      <p class="link">Associated Schools</p>
      <img
        class="px hover:cursor-pointer"
        src="assets/icons/Right_arrow.svg"
        alt="Apps"
      />
      <p class="placeholder">Sahuarita Primary Schools:Lorri Andrews</p>
    </div>

    <!-- school detail code start  -->
    <div class="white-div">
      <p class="h1">Sahuarita Primary Schools:Lorri Andrews</p>
      <p class="h2">1901 Thorridge Cir. Shiloh, Hawai 81063</p>
    </div>
    <!-- school detail code ends  -->
  </div>
</div>
